
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ---
      POSTGRES_PASSWORD: ---
      POSTGRES_DB: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  backend:
    build: ./backend
    restart: always
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: --
      DB_USER: ---
      DB_PASSWORD: ---
      DB_NAME: ---
      JWT_SECRET: ---
      PORT: 8081
    ports:
      - "---:---"
    volumes:
      - ./backend/uploads:/app/uploads

  frontend:
    build: ./frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:8081
volumes:
  pgdata:
